h1 {
  color: darkblue;
}

header {
  color: darkolivegreen;
}

input {
  height: 20px
}

.input-form {
  display: flex;
  justify-content: center;
}

.input-wrapper {
  border: 2px gray solid;
  min-width: 500px;
  max-width: 1000px;
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}